@font-face {
    font-family: kellyann;
    src: url(/fonts/KellyAnnGothic.ttf);
}

body {
    background-image: url("/images/decorative-1221446_1280.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    box-sizing: border-box;
    color:#1f1838;
    padding: 0px;
    margin: 0px;
    font-family: Georgia, serif; 
}

p {
    font-size: .9rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Eagle Lake', cursive;
    color: #40162e;    
}
 
.header {
    border-bottom: 1px solid;
    width: 80%;
    margin: 0px auto;
}

.header h1 {
    margin-bottom: .2em;    
}

.main-content {
    min-height: calc(100vh - 38px); 
}

.nav {
    width: 100%;
    background-color: #40162e;
    color: rgb(236, 233, 233);
    font-family: 'Eagle Lake', cursive;
}

.nav img {
    margin: .5em 3em 0em .5em;
}
.nav ul {
    display: inline;
    margin: 0px;
    padding: 0px;
}

.nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
}

.nav li a, .nav li a:visited {
    text-decoration: none;
    color: rgb(236, 233, 233);
}

.nav li a:hover {
    color: #ddc19f;
    transition: all ease 0.3s;
}

.footer {
    background-color: #40162e;
    color: white;
    padding: .2em 0 .2em .5em;
}

.footer img {
  margin-left: .1em;
  margin-right: .1em;
}

.footer span {
    padding-bottom: .2em;
    padding-left: .2em;
}

.phone-number {
    font-size: .9em;
}

.fa {
    font-size: 30px;
    text-decoration: none;
    margin: .5em .3em;
    color: rgb(236, 233, 233);
}
.fa-twitter {
    font-size: 40px;
}
.fa:hover {
    color: #ddc19f;
    transition: all ease 0.3s;
}


